@import "currently-playing.css";

body {
    font-family: CircularSpTitle, CircularSpTitle-Tall, CircularSp-Arab, CircularSp-Hebr, CircularSp-Cyrl, CircularSp-Grek, CircularSp-Deva, Helvetica Neue, helvetica, arial, Hiragino Kaku Gothic Pro, Meiryo, MS Gothic, serif;
    background-image: url("imgs/background3.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

#auth-button {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    border-radius: 5px;
    background-color: #1db954;
    border: transparent;
    padding: 15px 50px;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 400;
    cursor: pointer;
    transition: 0.3s;
    outline: none;
}

#auth-button:hover {
    background-color: #1ed760;
}

.navigation {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 160px;
}

.MusicMenu {
    background-color: #181818;
    color: white;
    padding: 1em;
    padding-bottom: 1.1em;
    border-radius: 15px;
    margin: 1em;
}

.MusicMenu a {
    text-decoration: none;
}

.menu-loader {
    display: flex;
    flex-direction: row;
    height: 4em;
    padding-left: 1em;
    padding-right: 1em;
    transform: rotate(180deg);
    justify-content: right;
    border-radius: 10px;
    transition: .4s ease-in-out;
}

.menu-loader:hover {
    cursor: pointer;
    background-color: gray;
}

.MusicMenuTitle {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 2rem;
    font-weight: 500;
    margin-left: 1rem;
    user-select: none;
}

.MusicMenuTitle select{
    margin-left: 1rem;
    margin-top: 0.5rem;
    border: none;
    color: white;
    background-color: #181818;
    font-size: 1.5rem;
    font-weight: 500;
    outline: none;
}

.menu-heading {
    color: white;
    font-size: 1.1em;
    font-weight: bold;
    align-self: center;
}

.menu-play {
    position: relative;
    left: 0.35em;
    height: 1.6em;
    width: 1.6em;
    clip-path: polygon(50% 50%, 100% 50%, 75% 6.6%);
    background-color: white;
    transform: rotate(-90deg);
    align-self: center;
    margin-top: 0.7em;
    justify-self: center;
}

.menu-albumcover {
    position: relative;
    margin-right: 1em;
    height: 40px;
    width: 40px;
    background-color: rgb(233, 232, 232);
    align-self: center;
    border-radius: 5px;
    user-select: none;
    transform: rotate(180deg);
}

.menu-song {
    position: relative;
    transform: rotate(180deg);
    margin-right: 1em;
    color: white;
    align-self: center;
    user-select: none;
}

.menu-name {
    font-size: 1em;
    font-weight: bold;
}

.menu-artist {
    font-size: 0.8em;
}
